.carousel-item {
    height: 450px;
    width: auto;
    
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: -16%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}


.container{
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    height: 13px;
    
}
